<a href="https://colab.research.google.com/github/shivani-rao/basicPythonCodes/blob/master/Python_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PYTHON** **TUTORIAL**

In [ ]:
print("Hello Shivani , Welcome to Data World!")

Hello Shivani , Welcome to Data World!

Data Types : Integer,Float,String,Boolean

Operators : + , -,*,/,==,<>,!=,AND,OR,NOT

Control Structures : if statement , For loops , while loops

In [ ]:
num=7
if num >10:
  print("True")
else :
  print("False")

False

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
num =5
while num >=0 :
  print(num)
  num=num-1

5
4
3
2
1
0

Functions in python

In [ ]:
def greet(name):
  print("Hello " + name +" , Welcome to New Notebook")

greet("Shivani")

Hello Shivani , Welcome to New Notebook

In [ ]:
def sum(num1,num2):
  return num1+num2
addition=sum(6,6)
print(addition)

12

In [ ]:
import math
print(math.sqrt(36))

6.0

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
import pandas as pd
data={"ID":[0,1],"Name":["Shivani","Nandini"]}
df=pd.DataFrame(data)
print(df)

   ID     Name
0   0  Shivani
1   1  Nandini

String operations : replace,strip,find,format

In [ ]:
string="shivani"
print(string[::-1]) //string slicing

inavihs

In [ ]:
def reverse(string):
  str=""
  for i in string:
    str=i+str
    print(str)
  return str

print(reverse("Shivani"))

S
hS
ihS
vihS
avihS
navihS
inavihS
inavihS

Collections: List,Tuple,Set,Dictionary

In [ ]:
#Tuple : Ordered,Immutable,Allows duplicates,0 indexed
# If you want to change element covert it to list and then change and then convert back

emp=(1,"Shivani",20)
print(type(emp))

<class 'tuple'>

In [ ]:
#Lists : Ordered(the way you insert that order is maintained),Mutable,Allows duplicates,0 indexed
#List operations: append,insert,pop,remove

task=["development","testing","Monitoring"]
print(type(task))
print(task)
task.append("cicd")
task.insert(1,"unit testing")
print(task)

<class 'list'>
['development', 'testing', 'Monitoring']
['development', 'unit testing', 'testing', 'Monitoring', 'cicd']

In [ ]:
# Sets : not Ordered,no duplicates,Mutable
#Set operation : update,remove,clear
task={"Devops","Data Engg","Front end","testing"}
print(type(task))
print(task)

<class 'set'>
{'Devops', 'Data Engg', 'testing', 'Front end'}

In [ ]:
#Dictionary : Ordered,Mutable,Allows Duplicates,Key value pair
#Dictionary operations : copy,update,

user={"name":"Shivani","Age":26,"city":"Delhi"}
print(type(user))
print(user)

<class 'dict'>
{'name': 'Shivani', 'Age': 26, 'city': 'Delhi'}

In [ ]:
import csv
with open('/content/sample_data/mnist_test.csv',mode='r') as file:
  csv_read=csv.reader(file)
  for row in csv_read:
    print(row)

In [ ]:
#Pandas : can load,prepare,manipulate,model,analyze data

In [ ]:
a=[1,5,4,3,7]
print(range(len(a)))
m=max(a)
print(m)
l=[0]*m
print(l)
num=0
for i in range(len(a)):
  if a[i]>0:
    if l[a[i]-1] !=1:
      l[a[i]-1]=1
      print(l)
for i in range(len(l)):
  if l[i]==0:
    num=i+1
    print(num)

range(0, 5)
7
[0, 0, 0, 0, 0, 0, 0]
[1, 0, 0, 0, 0, 0, 0]
[1, 0, 0, 0, 1, 0, 0]
[1, 0, 0, 1, 1, 0, 0]
[1, 0, 1, 1, 1, 0, 0]
[1, 0, 1, 1, 1, 0, 1]
2
6