<a href="https://colab.research.google.com/github/shivani-rao/basicPythonCodes/blob/master/Python_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Find smallest positive missing number from given list

In [ ]:
def findnum (a):
  m=max(a)
  if m<1:
    return 1
  if len(a)==1:
    return 2 if a[0]==1 else 1
  l=[0]*m
  for i in range(len(a)):
    if a[i]>0:
      if l[a[i]-1]!=1:
        l[a[i]-1]=1
  for i in range(len(l)):
    if l[i]==0:
      return i+1
  return i+2




arr=[1,5,-7,3,-2,9]
result=findnum(arr)
print(result)

2

Reverse string

In [60]:
def reverse(string):
  str=""
  for i in string:
    str=i+str
    print(str)
  return str

print(reverse("Shivani"))


#Alternate way
string="shivani"
print(string[::-1]) #string slicing

S
hS
ihS
vihS
avihS
navihS
inavihS
inavihS
inavihs

Given an array of integers, return indices of the two numbers such that they add up to a specific target.

In [ ]:
def twosum(num,target):
  d={}
  for i in range(len(num)):
    temp=target-num[i]
    if temp in dict:
      return[dict[temp],i]
    dict.update({num[i]:i})

answer=twosum([3,2,1,5,6], 8) # [0,3]
print(answer)

[0, 3]

Find out the duplicate characters with their count of occurrence in the same order.

In [ ]:
from collections import OrderedDict
def dup_char(str):
  char=OrderedDict()
  for i in str:
    if i in char:
      char[i]+=1
    else:
      char[i]=1
  #return char
  '''
  dict_dup=OrderedDict()
  for j,count in char.items():
    if count>1:
      dict_dup[j]=count
  return dict_dup
  '''
  #using dictionary comprehension
  duplicates={alph:count for alph,count in char.items() if count>1 }
  return duplicates

str="prroooggming"
result=dup_char(str)
print(result)

{'r': 2, 'o': 3, 'g': 3}

Find of count of each letter from a given string

In [ ]:
input="progrrammiiing"
dict={}
for i in input:
	if i in dict:
		dict[i]+=1
	else :
		dict[i] = 1
print(dict)
max_char=max(dict,key=dict.get) #Max repeated char
print(max_char)

{'p': 1, 'r': 3, 'o': 1, 'g': 2, 'a': 1, 'm': 2, 'i': 3, 'n': 1}
r

Find out the count of each word in a given sentance.

In [ ]:
input="shivani is learning python . python is easy to learn"
word=input.split( )
dict={}
for i in word:
  if i in dict:
    dict[i]+=1
  else:
    dict[i]=1
print(dict)

{'shivani': 1, 'is': 2, 'learning': 1, 'python': 2, '.': 1, 'easy': 1, 'to': 1, 'learn': 1}

Find common letters between two strings.

In [ ]:
input1="shivani"
input2="nandini"
#set removes duplicates
s1=set(input1)
s2=set(input2)
# & operator extracts common letters from 2 strings
out=s1 & s2
print(out)

{'a', 'n', 'i'}

convert two list into Dictionary

In [ ]:
lst1=[1,2,3]
lst2=["one","two","three"]
out= dict(zip(lst1,lst2))
print(out)

TypeError: 'dict' object is not callable

Generate an infinite Fibonacci series using a generator

In [ ]:
def fibonacci():
  a,b =0,1
  while True:
    yield a
    a,b=b,a+b
f=fibonacci()
for i in range(10):
  print(next(f))

0
1
1
2
3
5
8
13
21
34

Sort a list without using the keyword Sort.

In [ ]:
list1=[41,2,7,9,6,35,10]
n=len(list1)

for i in range(n):
  for j in range(i+1,n):
    if list1[i]>list1[j]:
      list1[i],list1[j]=list1[j],list1[i]

print(list1)

[2, 6, 7, 9, 10, 35, 41]

Check whether string is palindrome or not!

In [ ]:
s="shivani rao"
print(s[::-1])
if s==s[::-1]:
  print("palindrome")
else:
  print("not palindrome")

#Alternate way
n=len(s)
x=0
for i in range(n):
  if s[i]!=s[n-i-1]:
    x=1
    break
if x==0:
  print("palindrome")
else:
  print("not palindrome")

oar inavihs
not palindrome
not palindrome

Sort a dicitonary / dict comprehension

In [ ]:
dict={132:"Apple",150:"Grapes",100: "Banana"}
#sort by value
sorted_dict_value={k:v for k,v in sorted(dict.items(),key=lambda item:item[1])}
print(sorted_dict_value)

#sort by keys
sorted_dict_keys={k:v for k,v in sorted(dict.items(),key=lambda item:item[0])}
print(sorted_dict_keys)

#Alternate way
d=sorted(dict.keys())
dict2={}
for i in d:
  dict2[i]=dict[i]
print(dict2)

{132: 'Apple', 100: 'Banana', 150: 'Grapes'}
{100: 'Banana', 132: 'Apple', 150: 'Grapes'}
{100: 'Banana', 132: 'Apple', 150: 'Grapes'}

Find the pair with a given number in a list. two elements sum to the given number.

In [ ]:
list1=[1,2,3,4,5,6,7,8,9]
n=len(list1)
k=10
for i in range(n):
  for j in range(i+1,n):
    if list1[i]+list1[j]==k:
      print(list1[i],list1[j])

1 9
2 8
3 7
4 6

Create a Fibonacci series using recursion.

In [ ]:
def fibonacci(n):
  if n<=1:
    return n
  else:
    return fibonacci(n-1)+fibonacci(n-2)
for i in range(10):
  print(fibonacci(i))

0
1
1
2
3
5
8
13
21
34

String manipulation. "The Sky is Blue" to "Blue is The Sky"

In [ ]:
s="The Sky is Blue"
l=s.split()[::-1]
print(" ".join(l))  #joins the elements of the list l into a single string with each word separated by a space.

Blue is Sky The

Remove Punctuation(except spaces)

In [ ]:
str1="Hello, World!"
s=''
for i in str1:
  if((i >= 'a' and i <= 'z') or (i >= 'A' and i <= 'Z') | (i==' ')):
    s=s+i
print(s)

Hello World

Find a maximum and minimum value in a List without using any predefined function.

In [ ]:
l=[9,11,10,5,4,70,2]
max=l[0]
min=l[0]
for i in range(len(l)):
  if l[i]>max:
    max=l[i]
  if l[i]<min:
    min=l[i]
print(max,min)

70 2

Write a code to raise an exception.

In [ ]:
l=[1,2,3,4]
sum=0
for i in l:
  if i==1:
    raise Exception("Exception : 1 is found")
  sum+=i
print(sum)

Exception: Exception : 1 is found